In [7]:
import pandas as pd
import ast
import matplotlib.pyplot as plt
import warnings
import math
import numpy as np
import seaborn as sns
warnings.filterwarnings("ignore")

%matplotlib inline

jupyter pw: <code>_@gCJYb7uvN72Am</code>

In [8]:
## Functions

# Funktion, um den Wattwert für einen Prozess aus der 'processes'-Liste zu extrahieren
def extract_wattage(process_list, target_process):
    process_list = ast.literal_eval(process_list)
    for process, wattage in process_list:
        if process == target_process:
            return wattage
    return None

# Funktion um aus allen Messungen (W) den Energie Gesamt Energie-Verbrauch (KwH) für einen Service zu berechnen
def calculate_energy_consumption(process_name,process_wattage_slice,time_delta_slice):
    total_ws = 0.0
    total_t = 0

    for i in range(1,len(process_wattage_slice)):
        dt = time_delta_slice.iloc[i] - time_delta_slice.iloc[i-1]
        average = (process_wattage_slice.iloc[i] + process_wattage_slice.iloc[i-1]) / 2
        total_ws += average * dt
        total_t += dt
    
    if math.isnan(total_ws):
        return 0.0
    
    return total_ws

In [9]:
# Load data
from glob import glob
runs = glob(f"data/*/*")
runs += glob(f"data_scale/*/*")
runs += glob(f"data_scale_rampup/*/*")

In [15]:
all = None
services = None
max_run = 2
for run in runs:
    exp = run.split('/')[1]
    run_id = int(run.split('/')[2])
    if run_id > max_run:
        continue
    try:
        workload = pd.read_csv(f"{run}/teastore_stats.csv").tail(1)[["Request Count", "Failure Count","Median Response Time","Average Response Time","Average Content Size"]].rename(
            columns={"Request Count": "requests", "Failure Count": "failures", "Median Response Time": "med. lat.", "Average Response Time": "avg. lat.", "Average Content Size": "avg. size"}
        )
        num_requests = workload["requests"].values[0]
        display(workload)
        
        obversations = pd.read_csv(glob(f"{run}/measurements_*.csv")[0])
        obversations["time"] = pd.to_datetime(obversations["timestamp"])
        obversations["processes"] = obversations["processes"].apply(lambda x: ast.literal_eval(x))
        total_runtime = (obversations["time"].max()-obversations["time"].min()).total_seconds()
        X = obversations.explode("processes").dropna()
        X["process_name"] = X["processes"].apply(lambda x: x[0])
        X["wattage"] = X["processes"].apply(lambda x: x[1])
        process_stats = X.groupby("process_name")["process_wattage"].sum().reset_index().rename(columns={"process_wattage": "total_wattage"})
        process_stats["total_wattage"] =process_stats["total_wattage"]/1000000
        process_stats["avg_wattage"] = process_stats["total_wattage"]/total_runtime
        process_stats["avg_wattage_per_request"] = process_stats["total_wattage"]/num_requests

        run_data = [exp,run_id]+workload.values.tolist()[0]+[total_runtime,process_stats["total_wattage"].sum(),process_stats["process_name"].nunique()]
        run_data = pd.DataFrame([run_data],columns=["exp","run_id","requests","failures","med_lat","avg_lat","avg_payload","runtime","wattage","deployment_units"])

        process_stats["exp"] = exp
        if "scale" in run:
            process_stats["scale"] = exp.split("_")[-1]
            run_data["scale"] = exp.split("_")[-1]
            process_stats["name"] =  "_".join(exp.split("_")[0:-1])
            run_data["name"] = "_".join(exp.split("_")[0:-1])
        else:
            process_stats["scale"] = "none"
            process_stats["name"] = exp
            run_data["name"] = exp
            run_data["scale"] = "none"
        
        
        process_stats["run_id"] = run_id
        process_stats["instance"] = process_stats["process_name"].apply(lambda x:X[X["process_name"]==x]["instance"].unique()[0]) 
        process_stats["process_name_normal"] = process_stats["process_name"].apply(lambda x:x.split("-")[1])
        

        if all is None:
            all = run_data
            services = process_stats
        else:
            all = pd.concat([all,run_data])
            services = pd.concat([services,process_stats])
    except FileNotFoundError as e:
        continue
    #     
    #process_measures = X.groupby("process_name").rolling("60s",on="time")["process_wattage"].sum()
    #print(exp,run_id,"\n",workload, "\n",process_stats[["process_name","avg_wattage","avg_wattage_per_request"]], "\ntotal runtime:",total_runtime,"\nreq/s:",workload["requests"].values[0]/total_runtime,"\n\n")
    # plt.figure()
    # sns.lineplot(data=process_measures.reset_index(),x="time",y="process_wattage",hue="process_name")
    # plt.suptitle(f"{exp} - {run_id}")

   requests  failures  med. lat.     avg. lat.    avg. size
7      2847      2732      530.0  15012.472845  4169.519494

   requests  failures  med. lat.    avg. lat.  avg. size
7      2682      2674    15000.0  20950.75604        0.0

In [13]:
all

,exp,run_id,requests,failures,med_lat,avg_lat,avg_payload,runtime,wattage,deployment_units,scale,name
0,baseline_vanilla_cpu,1,2847.0,2732.0,530.0,15012.472845,4169.519494,936.341418,0.0,0,cpu,baseline_vanilla
0,baseline_vanilla_cpu,0,2682.0,2674.0,15000.0,20950.756040,0.000000,966.500094,0.0,0,cpu,baseline_vanilla

In [14]:
services

Empty DataFrame
Columns: [process_name, total_wattage, avg_wattage, avg_wattage_per_request, exp, scale, name, run_id, instance, process_name_normal]
Index: []

In [11]:
X = all.groupby(["exp"])[["requests","failures","runtime","wattage","deployment_units"]].sum()
X["mW/Req"] = X["wattage"]/(X["requests"]+X["failures"])*1000
X = X.sort_values(by="mW/Req")
X

,requests,failures,runtime,wattage,deployment_units,mW/Req
exp,,,,,,
baseline_vanilla_cpu,5529.0,5406.0,1902.841512,0.0,0,0.0

In [12]:
services.groupby(["name","scale","process_name_normal"])["total_wattage"].sum()

Series([], Name: total_wattage, dtype: float64)